body{
  background-image: url("assets/2.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 5% 5% 2% 5%;
}

.heading{
  padding: 0;
  margin-bottom: 5%;
  border-top: 4px solid  #ffd000;
  border-bottom: 4px solid  #ffd000;
}
.heading h1{
  color: #6e6e6e;
  text-align: center;
}
