<section id="footer">
  <p>Find me on social media</p>
  <p>
    <a href="https://www.instagram.com/randika_rodrigo/" target="_blank" class="fa fa-instagram socialMediaIcon"></a>
    <a href="https://github.com/RandikaR21" target="_blank" class="fa fa-github socialMediaIcon"></a>
    <a href="https://www.linkedin.com/in/randikarodrigo/" target="_blank" class="fa fa-linkedin socialMediaIcon"></a>
  </p>
  <p>Joseph Randika Dulshan Rodrigo</p>
  <p><i class="fa fa-envelope-open" style="margin-right: 10px"></i>randika.2018073@iit.ac.lk <i class="fa fa-phone" style="margin-left: 10px;margin-right: 10px"></i> 0769921810</p>
</section>
