.experience{
  padding:2% 6% 2% 6%;
}
.experience h1{
  margin-top: 5%;
  margin-bottom: 7%;
  color: #6e6e6e;
  font-weight: bold;
  text-decoration: underline #2196F3;
  text-align: center;
}
.place{
  color: #6e6e6e;
  font-weight: bold;
  text-decoration: none;
}

.place:hover{
  text-decoration: underline;
}
.date{
  color: #00bd02;
  font-weight: bold;
}
