.experience{
  padding:1% 0 1% 0;
  display: block;
}
.place{
  color: #6e6e6e;
  font-weight: bold;
  text-decoration: none;
}

.place:hover{
  text-decoration: underline;
}
.date{
  color: #00bd02;
  font-weight: bold;
}


#competitions{
  background-color: #eeeeee;
  text-align: center;
}
#competitions div{
  margin-bottom: 30px;
}

#competitions p{
  color: #6e6e6e;
  font-style: italic;
  font-size: small;
}

#workExp,#competitions,#myProjects{
  padding:4% 1% 7% 1%;
}

.content{
  padding: 0 4% 0 4%;
}
