<section class="experience">
  <ul>
    <li>
      <h4>Summer Internship</h4>
      <h3 ><a  class="place" href="https://attuneconsulting.com/" target="_blank"> a<span style="color: gold">tt</span>une consulting</a></h3>
      <p class="date">07/2019 - One month</p>
      <p><b>Learning outcomes:</b></p>
      <ul>
        <li>Learnt an overview of SAP</li>
        <li>Learnt about project management, managing online presence, Career goals and development, Lean manufacturing and many more.</li>
        <li>Met Industrial giants like Ajay Amalean (Director and co-founder of MAS Holding Pvt Ltd), Cheevaan Devavarathan Daniel (Group Director at Capital Maharaja Organisation), Sarinda Unamboowe(CEO of MAS Kreeda).</li>
        <li>Factory visits to MAS Linea Aqua (Pvt) Ltd, Prym Intimates and Twinery Innovations by MAS.</li>
        <li>Final project, Kids at Workday, a project to practice project management.</li>
      </ul>
    </li>
  </ul>
</section>
