#contact{
  padding:2% 0% 2% 0%;
}
#contact table{
  width: 100%;
  text-align: center;
}
#contact td,th{
  padding-bottom: 20px;
}
#contact h1{
  margin-bottom: 5%;
  color: #6e6e6e;
  font-weight: bold;
  text-decoration: underline #ffd000;
  text-align: center;
}
