<section id="contact">
    <h1>Contact Details</h1>
    <table>
      <tbody>
      <tr>
        <th>Mobile phone</th>
        <td>+94 76 9921810</td>
      </tr>
      <tr>
        <th>Land phone</th>
        <td>+94 31 2274330</td>
      </tr>
      <tr>
        <th>Email (Primary)</th>
        <td>randika.2018073@iit.ac.lk</td>
      </tr>
      <tr>
        <th>Email (Secondary)</th>
        <td>josephrandika@gmail.com</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>265/B Daluwakotuwa,<br/> Kochchikade, <br/>Sri Lanka.</td>
      </tr>
      </tbody>
    </table>
  <h1>Contact Map</h1>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7052.256505246931!2d79.85200537824971!3d7.247133813131444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2ee9745b7bcc9%3A0x77928ef40b077489!2sNegombo!5e0!3m2!1sen!2slk!4v1590319312949!5m2!1sen!2slk"
    width="100%" height="450" frameborder="0" style="border:0;"
    allowfullscreen="" aria-hidden="false" tabindex="0">
  </iframe>
</section>
