.profile,.content,.navi{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: white;
}
.page{
  border: none;
}
.profile{
  width: 25%;
  position: fixed;
  overflow-x: hidden;

}
.navi{
  margin-left: 30%;
  margin-bottom: 2%;
  background-color: rgba(1, 172, 230, 0.28);
}
.navi button{
  height: 100%;
  padding: 15px 30px 15px 30px;
  border: none;
  outline: none;
  background-color: inherit;
  transition: 0.4s;
  font-weight: bold;
  font-size: large;
}
.selections button.active{
  color: rgb(0, 145, 255);
}
.selections button:hover{
  color: rgb(0, 145, 255);
}
.content{
  margin-left: 30%;
}

#home{
  border-top-left-radius:10px ;
  border-bottom-left-radius: 10px;
  background-color: rgba(27, 192, 232, 0.63);
}
.naviText{
  margin-left: 10px;
}
@media only screen and (max-width:500px) {
  .profile{
    width: 100%;
    position: static;
    margin-bottom: 10%;
  }
  .navi , .content{
    margin-left: 0;
    margin-bottom: 5%;
  }
}
