.content-body{
  padding:2% 0 2% 0;
  display: block;
}
.content-body h1{
  margin-bottom: 5%;
  color: #6e6e6e;
  font-weight: bold;
  text-decoration: underline #ffd000;
  text-align: center;
}

.content-body p{
  padding: 0 4% 0 4%;
}

.content-body h5{
  margin-bottom: 2%;
  font-weight: bold;
}
* {box-sizing: border-box}

.container {
  width: 100%;
  padding: 0;
  background-color: #ddd;
  border-radius: 20px;
}

.skills {
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #2196F3;
  border-radius: 20px;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.gridSkills{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
}
h2{
  margin: 0;
  padding: 0;
}
.skillSection{
  width: 70%;
  margin:2% 15% 6% 15%;
}
.skillSection ul{
  list-style-type: circle;
  padding-left: 0;
}
.skillSection h5{
  text-align: center;
}
.skillSection p{
  padding: 0;
  margin: 0;
}
.about,.myInterests,.mySkills{
  padding:4% 1% 7% 1%;
}

.myInterests{
  background-color: #eeeeee;
}

.myInterests h4{
  margin-bottom: 3%;
}

/*Skill bar animation to support multiple browsers*/
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}
@media only screen and (max-width:500px) {
  .gridSkills{
    display: block;
  }
}
