*{
  padding: 0;
  margin:0;
}

div{
  overflow: hidden;
}
.main{
  padding: 6%;
  text-align: left;
  background-color: #ffd000;
}
.info{
  display: block;
  text-align: center;
}
table{
  padding: 0;
  margin: 4%;
  width: 92%;
  text-align: left;
  overflow: hidden;


}
th{
  padding: 2%;
  color: rgba(175, 175, 175,1);
  text-align: center;
  font-size: 100%;
}
td{
  padding: 2%;
  font-weight: bold;
  color: black;
  text-align: center;
}
.details{
  font-weight: bold;
  color: black;
  text-align: center;
}
.downloadButton{
  border: none;
  outline: none;
  border-radius: 50px;
  padding:5px 10px 5px 10px;
  color: #000000;
  background-color: #ffd000;
  margin-bottom: 20px;
}
.downloadIcon{
  color: black;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}
h1{
  font-size: 2.5vw;
}
h4{
  font-size: 1.3vw;
}
table{
  font-size: 1vw;
}
@media only screen and (max-width:800px) {
  h1 {
    font-size: 2em;
  }
  h4{
    font-size: 1em;
  }
  table{
    font-size: 1em;
  }

}
