<div class="main">
  <h1>Randika Rodrigo</h1>
  <h4>Software Engineer Undergraduate</h4>
</div>
  <img [src]="imageSrc"  width="100%" alt="My Image"/>
<div class="info">
  <table class="table table-borderless">
    <tbody>
    <tr>
      <th scope="row"><i class="fa fa-birthday-cake"></i></th>
      <td>21 September 2000</td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-university"></i></th>
      <td>University of Westminster</td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-phone"></i></th>
      <td>+94-76-9921810</td>
    </tr>
    <tr>
      <th scope="row"><i class="fa fa-envelope-open"></i></th>
      <td>randika.2018073@iit.ac.lk</td>
    </tr>
    </tbody>
  </table>

</div>
